In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\mysel\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: trio~=0.17 in c:\users\mysel\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\mysel\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\mysel\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\mysel\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\mysel\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\mysel\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\mysel\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\mysel\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [3]:
driver = webdriver.Chrome(r"C:\Users\mysel\Downloads\chromedriver_win32 latest\chromedriver.exe")

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException 

url = 'https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1'

# Initialize the Selenium webdriver 
driver = webdriver.Chrome()

driver.get(url)

# Function to extract metascore from movie element
def extract_metascore(movie_element):
    try:
        metascore = movie_element.find_element(By.CSS_SELECTOR, '.metascore').text
    except NoSuchElementException:
        metascore = 'N/A'
    return metascore

# Wait for the page to load
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_element_located((By.CSS_SELECTOR, '.lister-list')))

# Create empty lists to store the data
movie_names = []
director_names = []
durations = []
years = []
ratings = []
metascores = []

# Loop through all pages
while True:
    # Find all movie elements using XPATH
    movie_elements = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]')

    # Loop through the movie elements and extract the data
    for movie_element in movie_elements:
        # Extract movie name
        movie_name = movie_element.find_element(By.XPATH, './/h3/a').text
        movie_names.append(movie_name)

        # Extract director name
        try:
            director_name = movie_element.find_element(By.CSS_SELECTOR, 'p:not(.text-muted):not(.text-small) a').text
        except NoSuchElementException:
            director_name = 'N/A'
        director_names.append(director_name)

        # Extract duration
        duration = movie_element.find_element(By.XPATH, './/p/span[@class="runtime"]').text
        durations.append(duration)

        # Extract year
        year = movie_element.find_element(By.XPATH, './/h3/span[2]').text.strip('()')
        years.append(year)

        # Extract rating
        rating = movie_element.find_element(By.XPATH, './/strong').text
        ratings.append(rating)

        # Extract Metascore
        metascore = extract_metascore(movie_element)
        metascores.append(metascore)

    try:
        # Click the "Next" button
        next_button = driver.find_element(By.XPATH, '//a[@class="lister-page-next next-page"]')
        next_button.click()
        wait.until(EC.staleness_of(movie_elements[0]))  # Wait for the page to load
    except NoSuchElementException:
        # If the "Next" button is not found, we have reached the last page, exit the loop
        break

# Create a DataFrame to store the data
data = {
    'Movie Name': movie_names,
    'Director Name': director_names,
    'Duration': durations,
    'Year': years,
    'Rating': ratings,
    'Metascore': metascores
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Close the browser after scraping
driver.quit()

                                             Movie Name       Director Name  \
0                                       The Dark Knight   Christopher Nolan
1         The Lord of the Rings: The Return of the King       Peter Jackson
2                   Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
3                                             Inception   Christopher Nolan
4     The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
...                                                 ...                 ...
1765                                              Radhe         Prabhu Deva
1766                                             Race 3        Remo D'Souza
1767                                  Angels Apocalypse           Sean Cain
1768                              The Cost of Deception       Keith English
1769                                            Sadak 2        Mahesh Bhatt

     Duration  Year Rating Metascore
0     152 min  2008    9.0        84
1     201 min  2003    9.0        94
2     140 min  2023    8.9        86
3     148 min  2010    8.8        74
4     178 min  2001    8.8        92
...       ...   ...    ...       ...
1765  113 min  2021    1.9       N/A
1766  160 min  2018    1.9       N/A
1767   85 min  2015    1.6       N/A
1768  125 min  2021    1.5       N/A
1769  133 min  2020    1.2       N/A

[1770 rows x 6 columns]

In [6]:
df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
0,The Dark Knight,Christopher Nolan,152 min,2008,9.0,84
1,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,2003,9.0,94
2,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140 min,2023,8.9,86
3,Inception,Christopher Nolan,148 min,2010,8.8,74
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,2001,8.8,92

In [7]:
# Save the DataFrame to a CSV file
df.to_csv('movie_data_first_file.csv', index=False)

In [8]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException


url = 'https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&ref_=adv_prv'

# Initialize the Selenium webdriver 
driver = webdriver.Chrome()
driver.get(url)

# Function to scroll the page to load all elements
def scroll_to_bottom(driver):
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    wait.until(EC.invisibility_of_element_located((By.CLASS_NAME, 'scroller-infinite')))
    wait.until(EC.presence_of_element_located((By.CSS_SELECTOR, '.lister-item-content')))

# Wait for the page to load
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_element_located((By.CSS_SELECTOR, '.lister-list')))
scroll_to_bottom(driver)

# Create empty lists to store the data
movie_names = []
stars = []
votes = []
genres = []
gross_collections = []
certifications = []

# Loop through all pages
while True:
    # Find all movie elements using XPATH
    movie_elements = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]')

    # Loop through the movie elements and extract the data
    for movie_element in movie_elements:
        # Extract movie name
        movie_name = movie_element.find_element(By.XPATH, './/h3/a').text
        movie_names.append(movie_name)

        # Extract stars
        try:
            star_elements = movie_element.find_elements(By.XPATH, './/p[contains(., "Stars:")]/a')
            star_info = [star_element.text for star_element in star_elements]
        except NoSuchElementException:
            star_info = ['N/A']
        stars.append(star_info)

        # Extract votes
        try:
            vote_element = movie_element.find_element(By.XPATH, './/p/span[@name="nv"]')
            vote = vote_element.get_attribute('data-value')
        except NoSuchElementException:
            vote = 'N/A'
        votes.append(vote)

        # Extract genres
        try:
            genre_element = movie_element.find_element(By.XPATH, './/p/span[@class="genre"]')
            genre_info = genre_element.text.split(', ')
        except NoSuchElementException:
            genre_info = ['N/A']
        genres.append(genre_info)

        # Extract gross collection
        try:
            gross_element = movie_element.find_element(By.XPATH, './/p[@class="sort-num_votes-visible"]/span[@name="nv"]')
            gross_collection = gross_element.get_attribute('data-value')
        except NoSuchElementException:
            gross_collection = 'N/A'
        gross_collections.append(gross_collection)

        # Extract certification
        try:
            certification_element = movie_element.find_element(By.XPATH, './/span[@class="certificate"]')
            certification = certification_element.text
        except NoSuchElementException:
            certification = 'N/A'
        certifications.append(certification)

    try:
        # Click the "Next" button
        next_button = driver.find_element(By.XPATH, '//a[@class="lister-page-next next-page"]')
        next_button.click()
        scroll_to_bottom(driver)
    except NoSuchElementException:
        # If the "Next" button is not found, we have reached the last page, exit the loop
        break

# Create a DataFrame to store the data
data = {
    'Movie Name': movie_names,
    'Votes': votes,
    'Gross Collection': gross_collections,
    'Certification': certifications
}

# Create separate columns for stars (star1, star2, star3, star4, star5)
for i in range(1, 6):
    data[f'Star{i}'] = [star[i - 1] if i <= len(star) else 'N/A' for star in stars]

# Create separate columns for genres (genre1, genre2, genre3)
for i in range(1, 4):
    data[f'Genre{i}'] = [genre[i - 1] if i <= len(genre) else 'N/A' for genre in genres]

df1 = pd.DataFrame(data)

# Drop 'Star1' column
df1.drop(columns=['Star1'], inplace=True)

# Rename the remaining columns
df1.rename(columns={'Star2': 'Star1', 'Star3': 'Star2', 'Star4': 'Star3', 'Star5': 'Star4'}, inplace=True)

# Print the DataFrame
print(df1)

# Close the browser after scraping
driver.quit()

                                             Movie Name    Votes  \
0                                       The Dark Knight  2741284
1         The Lord of the Rings: The Return of the King  1899088
2                   Spider-Man: Across the Spider-Verse   185778
3                                             Inception  2432607
4     The Lord of the Rings: The Fellowship of the Ring  1927507
...                                                 ...      ...
1765                                              Radhe   179056
1766                                             Race 3    47814
1767                                  Angels Apocalypse    42919
1768                              The Cost of Deception    39600
1769                                            Sadak 2    96354

     Gross Collection Certification              Star1                 Star2  \
0             2741284           12A     Christian Bale          Heath Ledger
1             1899088           12A        Elijah Wood       Viggo Mortensen
2              185778            PG        Kemp Powers    Justin K. Thompson
3             2432607           12A  Leonardo DiCaprio  Joseph Gordon-Levitt
4             1927507            PG        Elijah Wood          Ian McKellen
...               ...           ...                ...                   ...
1765           179056            15        Salman Khan          Disha Patani
1766            47814           12A        Anil Kapoor           Salman Khan
1767            42919           N/A      Enzo Zelocchi         Enzo Zelocchi
1768            39600           N/A  Vivianne Bánovits          András Mózes
1769            96354           15+         Alia Bhatt           Pooja Bhatt

                  Star3                 Star4     Genre1     Genre2     Genre3
0         Aaron Eckhart         Michael Caine     Action      Crime      Drama
1          Ian McKellen         Orlando Bloom     Action  Adventure      Drama
2         Shameik Moore      Hailee Steinfeld  Animation     Action  Adventure
3           Elliot Page          Ken Watanabe     Action  Adventure     Sci-Fi
4         Orlando Bloom             Sean Bean     Action  Adventure      Drama
...                 ...                   ...        ...        ...        ...
1765      Randeep Hooda         Jackie Shroff     Action      Crime   Thriller
1766         Bobby Deol  Jacqueline Fernandez     Action      Crime   Thriller
1767      Jana Rochelle     Ryan C.F. Buckley     Action    Fantasy     Sci-Fi
1768        Barna Bokor       Gabriella Gubás     Action      Crime      Drama
1769  Aditya Roy Kapoor           Sanjay Dutt     Action      Drama        N/A

[1770 rows x 11 columns]

In [9]:
df1.head()

,Movie Name,Votes,Gross Collection,Certification,Star1,Star2,Star3,Star4,Genre1,Genre2,Genre3
0,The Dark Knight,2741284,2741284,12A,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,1899088,1899088,12A,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,Spider-Man: Across the Spider-Verse,185778,185778,PG,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Animation,Action,Adventure
3,Inception,2432607,2432607,12A,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,The Lord of the Rings: The Fellowship of the Ring,1927507,1927507,PG,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama

In [10]:
# Save the DataFrame to a CSV file
df1.to_csv('movie_data_second_file.csv', index=False)

**Table 1**

In [78]:
df = pd.read_csv('movie_data_first_file.csv')

In [ ]:
# 1)  Display all the details of movies created by directors Christopher and Matt Reeves.

In [15]:
# Create a DataFrame to store the data
data = {
    'Movie Name': movie_names,
    'Director Name': director_names,
    'Duration': durations,
    'Year': years,
    'Rating': ratings,
    'Metascore': metascores
}

df = pd.DataFrame(data)

# Filter movies by directors Christopher and Matt Reeves
directors_filter = df['Director Name'].isin(['Christopher Nolan', 'Matt Reeves'])
filtered_movies = df[directors_filter]

# Display the details of movies by directors Christopher and Matt Reeves
print(filtered_movies)

# Close the browser after scraping
driver.quit()

                         Movie Name      Director Name Duration  Year Rating  \
0                   The Dark Knight  Christopher Nolan  152 min  2008    9.0
3                         Inception  Christopher Nolan  148 min  2010    8.8
21            The Dark Knight Rises  Christopher Nolan  164 min  2012    8.4
39                    Batman Begins  Christopher Nolan  140 min  2005    8.2
131                      The Batman        Matt Reeves  176 min  2022    7.8
132                         Dunkirk  Christopher Nolan  106 min  2017    7.8
230  Dawn of the Planet of the Apes        Matt Reeves  130 min  2014    7.6
309  War for the Planet of the Apes        Matt Reeves  140 min  2017    7.4
322                           Tenet  Christopher Nolan  150 min  2020    7.3
515                     Cloverfield        Matt Reeves   85 min  2008    7.0

    Metascore
0          84
3          74
21         78
39         70
131        72
132        94
230        79
309        82
322        69
515        64

In [16]:
filtered_movies.head()

                Movie Name      Director Name Duration  Year Rating Metascore
0          The Dark Knight  Christopher Nolan  152 min  2008    9.0        84
3                Inception  Christopher Nolan  148 min  2010    8.8        74
21   The Dark Knight Rises  Christopher Nolan  164 min  2012    8.4        78
39           Batman Begins  Christopher Nolan  140 min  2005    8.2        70
131             The Batman        Matt Reeves  176 min  2022    7.8        72

In [ ]:
# 2) Display all the details of movies with a duration of 140 minutes to 190 minutes.

In [17]:
# Convert the 'Duration' column to numeric values
df['Duration'] = df['Duration'].str.extract('(\d+)').astype(int)

# Filter movies by duration between 140 and 190 minutes
duration_filter = (df['Duration'] >= 140) & (df['Duration'] <= 190)
filtered_movies2 = df[duration_filter]

# Display the details of movies with a duration between 140 and 190 minutes
print(filtered_movies2)

# Close the browser after scraping
driver.quit()

                                             Movie Name       Director Name  \
0                                       The Dark Knight   Christopher Nolan
2                   Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
3                                             Inception   Christopher Nolan
4     The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
5                 The Lord of the Rings: The Two Towers       Peter Jackson
...                                                 ...                 ...
1756                                              Liger      Puri Jagannadh
1757                                             Gunday     Ali Abbas Zafar
1760                                             Laxmii    Raghava Lawrence
1761                                        Heropanti 2          Ahmed Khan
1766                                             Race 3        Remo D'Souza

      Duration  Year Rating Metascore
0          152  2008    9.0        84
2          140  2023    8.9        86
3          148  2010    8.8        74
4          178  2001    8.8        92
5          179  2002    8.8        87
...        ...   ...    ...       ...
1756       140  2022    2.7       N/A
1757       152  2014    2.7       N/A
1760       141  2020    2.5       N/A
1761       145  2022    2.5       N/A
1766       160  2018    1.9       N/A

[208 rows x 6 columns]

In [19]:
filtered_movies2.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
0,The Dark Knight,Christopher Nolan,152,2008,9.0,84
2,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140,2023,8.9,86
3,Inception,Christopher Nolan,148,2010,8.8,74
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178,2001,8.8,92
5,The Lord of the Rings: The Two Towers,Peter Jackson,179,2002,8.8,87

In [20]:
# 3) Display all details of movies with ratings above 7 in ascending order.

In [21]:
# Convert the 'Rating' column to numeric values
df['Rating'] = df['Rating'].astype(float)

# Filter movies by ratings above 7
rating_filter = df['Rating'] > 7
filtered_movies = df[rating_filter]

# Sort the filtered DataFrame in ascending order of ratings
sorted_movies3 = filtered_movies.sort_values(by='Rating', ascending=True)

# Display the details of movies with ratings above 7 in ascending order
print(sorted_movies3)

# Close the browser after scraping
driver.quit()

                                            Movie Name       Director Name  \
493                                              Fanaa         Kunal Kohli
459                                         Real Steel          Shawn Levy
458                                            Everest   Baltasar Kormákur
457                                  Deepwater Horizon          Peter Berg
456                                           I, Robot         Alex Proyas
..                                                 ...                 ...
4    The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
3                                            Inception   Christopher Nolan
2                  Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
1        The Lord of the Rings: The Return of the King       Peter Jackson
0                                      The Dark Knight   Christopher Nolan

     Duration  Year  Rating Metascore
493       168  2006     7.1       N/A
459       127  2011     7.1        56
458       121  2015     7.1        64
457       107  2016     7.1        68
456       115  2004     7.1        59
..        ...   ...     ...       ...
4         178  2001     8.8        92
3         148  2010     8.8        74
2         140  2023     8.9        86
1         201  2003     9.0        94
0         152  2008     9.0        84

[494 rows x 6 columns]

In [22]:
sorted_movies3.head()

            Movie Name      Director Name  Duration  Year  Rating Metascore
493              Fanaa        Kunal Kohli       168  2006     7.1       N/A
459         Real Steel         Shawn Levy       127  2011     7.1        56
458            Everest  Baltasar Kormákur       121  2015     7.1        64
457  Deepwater Horizon         Peter Berg       107  2016     7.1        68
456           I, Robot        Alex Proyas       115  2004     7.1        59

In [23]:
# 4) Display all movie names in descending order.

In [24]:
# Display all movie names in descending order
sorted_movies4 = df.sort_values(by='Movie Name', ascending=False)

# Display only the "Movie Name" column
print(sorted_movies4['Movie Name'])

# Close the browser after scraping
driver.quit()

1579                      Æon Flux
1716          xXx²: The Next Level
1629    xXx: Return of Xander Cage
1390                           xXx
1697                   Zoolander 2
                   ...
858                      12 Strong
1524                     12 Rounds
1653                     10,000 BC
426                            '71
1044                        #Alive
Name: Movie Name, Length: 1770, dtype: object

In [25]:
sorted_movies4.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
1579,Æon Flux,Karyn Kusama,93,2005,5.4,36
1716,xXx²: The Next Level,Lee Tamahori,101,2005,4.5,37
1629,xXx: Return of Xander Cage,D.J. Caruso,107,2017,5.2,42
1390,xXx,Rob Cohen,124,2002,5.8,48
1697,Zoolander 2,Ben Stiller,101,2016,4.7,34

In [26]:
# 5) Display movie name starts with ‘P’ and their rating is greater than 7.

In [27]:
# Filter the data to get movie names that start with 'P' and have a rating greater than 7
filtered_movies5 = df[(df['Movie Name'].str.startswith('P')) & (df['Rating'].astype(float) > 7)]

# Display only the "Movie Name" column
print(filtered_movies5['Movie Name'])

# Close the browser after scraping
driver.quit()

28                                     Princess Mononoke
55                                      Paan Singh Tomar
59     Pirates of the Caribbean: The Curse of the Bla...
139                                             Predator
239                                      Ponniyin Selvan
240                            Pushpa: The Rise - Part 1
273                                         Police Story
303                                       Predestination
332           Pirates of the Caribbean: Dead Man's Chest
357                                         Patriots Day
383                                          Point Break
437                                                 Prey
444             Pirates of the Caribbean: At World's End
467                                              Payback
Name: Movie Name, dtype: object

In [28]:
filtered_movies5.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
28,Princess Mononoke,Hayao Miyazaki,134,1997,8.3,76
55,Paan Singh Tomar,Tigmanshu Dhulia,135,2012,8.2,N/A
59,Pirates of the Caribbean: The Curse of the Bla...,Gore Verbinski,143,2003,8.1,63
139,Predator,John McTiernan,107,1987,7.8,47
239,Ponniyin Selvan,Mani Ratnam,167,2022,7.6,N/A

**Table 2**

In [79]:
df1 = pd.read_csv('movie_data_second_file.csv')

In [ ]:
# 1) Display all movie names with star Arnold Schwarzenegger in ascending order.

In [29]:
# Filter the data to get movie names with star Arnold Schwarzenegger
arnold_movies = df1[df1['Star1'].apply(lambda stars: 'Arnold Schwarzenegger' in stars)]

# Sort the DataFrame by 'Movie Name' in ascending order
arnold_movies_sorted = arnold_movies.sort_values(by='Movie Name', ascending=True)

# Display only the "Movie Name" column
print(arnold_movies_sorted['Movie Name'])

1740                        Batman & Robin
1556                     Collateral Damage
703                               Commando
573                    Conan the Barbarian
1331                   Conan the Destroyer
1398                           End of Days
1121                                Eraser
1094                      Kindergarten Cop
864                       Last Action Hero
139                               Predator
1502                              Raw Deal
1226                              Red Heat
1650                             Red Sonja
1463                              Sabotage
9               Terminator 2: Judgment Day
1012    Terminator 3: Rise of the Machines
1015                    Terminator Genisys
1344                           The 6th Day
1023                        The Last Stand
705                        The Running Man
63                          The Terminator
256                           Total Recall
334                              True Lies
Name: Movie Name, dtype: object

In [30]:
arnold_movies_sorted.head()

,Movie Name,Votes,Gross Collection,Certification,Star1,Star2,Star3,Star4,Genre1,Genre2,Genre3
1740,Batman & Robin,261345,261345,PG,Arnold Schwarzenegger,George Clooney,Chris O'Donnell,Uma Thurman,Action,Sci-Fi,N/A
1556,Collateral Damage,76778,76778,15,Arnold Schwarzenegger,John Leguizamo,Francesca Neri,Elias Koteas,Action,Drama,Thriller
703,Commando,168927,168927,18,Arnold Schwarzenegger,Rae Dawn Chong,Dan Hedaya,Vernon Wells,Action,Adventure,Thriller
573,Conan the Barbarian,156886,156886,15,Arnold Schwarzenegger,James Earl Jones,Max von Sydow,Sandahl Bergman,Action,Adventure,Fantasy
1331,Conan the Destroyer,83276,83276,15,Arnold Schwarzenegger,Grace Jones,Olivia d'Abo,Wilt Chamberlain,Action,Adventure,Fantasy

In [31]:
# 2) Display all details of the movie with the highest number of votes.

In [34]:
# Convert 'Votes' column to numeric values
df1['Votes'] = pd.to_numeric(df1['Votes'], errors='coerce')

# Find the index of the movie with the highest number of votes
highest_votes_index = df1['Votes'].idxmax()

# Get all details of the movie with the highest number of votes
movie_with_highest_votes = df1.loc[highest_votes_index]

# Display all details of the movie with the highest number of votes
print(movie_with_highest_votes)

Movie Name          The Dark Knight
Votes                       2741284
Gross Collection            2741284
Certification                   12A
Star1                Christian Bale
Star2                  Heath Ledger
Star3                 Aaron Eckhart
Star4                 Michael Caine
Genre1                       Action
Genre2                        Crime
Genre3                        Drama
Name: 0, dtype: object

In [35]:
movie_with_highest_votes.head()

Movie Name          The Dark Knight
Votes                       2741284
Gross Collection            2741284
Certification                   12A
Star1                Christian Bale
Name: 0, dtype: object

In [ ]:
# 3) Display movie names with gross collections in descending order.

In [36]:
# Sort the DataFrame based on 'Gross Collection' column in descending order
df1_sorted = df1.sort_values(by='Gross Collection', ascending=False)

# Display only the 'Movie Name' and 'Gross Collection' columns
movie_names_with_gross = df1_sorted[['Movie Name', 'Gross Collection']]

# Print the DataFrame
print(movie_names_with_gross)

                         Movie Name Gross Collection
1302                        Lockout            99917
966                     DragonHeart            99909
46               Gangs of Wasseypur            99904
895       The Spiderwick Chronicles            99659
432                       The Flash            99512
...                             ...              ...
1181  The Hitman's Wife's Bodyguard           100983
1270                         Sahara           100821
16          Raiders of the Lost Ark          1003392
1048                   The American           100218
434                   Extraction II           100209

[1770 rows x 2 columns]

In [37]:
movie_names_with_gross.head()

                     Movie Name Gross Collection
1302                    Lockout            99917
966                 DragonHeart            99909
46           Gangs of Wasseypur            99904
895   The Spiderwick Chronicles            99659
432                   The Flash            99512

In [ ]:
# 4) Display the gross collection of movies with the star Arnold.

In [41]:
# Filter the DataFrame to show movies with Arnold Schwarzenegger in any of the 'Star' columns
arnold_movies = df1[df1['Star1'] == 'Arnold Schwarzenegger'] \
    .append(df1[df1['Star2'] == 'Arnold Schwarzenegger']) \
    .append(df1[df1['Star3'] == 'Arnold Schwarzenegger']) \
    .append(df1[df1['Star4'] == 'Arnold Schwarzenegger'])

# Display only the 'Movie Name' and 'Gross Collection' columns for the filtered movies
arnold_movies = arnold_movies[['Movie Name', 'Gross Collection']]

# Sort the movies by 'Gross Collection' in descending order
arnold_movies = arnold_movies.sort_values(by='Gross Collection', ascending=False)

# Reset the index of the DataFrame
arnold_movies.reset_index(drop=True, inplace=True)

# Print the DataFrame
print(arnold_movies)

                            Movie Name Gross Collection
0                       The Terminator           891919
1                  Conan the Destroyer            83276
2                    Collateral Damage            76778
3                             Red Heat            73814
4                             Sabotage            65073
5                             Predator           437492
6                            Red Sonja            43634
7   Terminator 3: Rise of the Machines           409731
8                             Raw Deal            36259
9                         Total Recall           342824
10                  Terminator Genisys           285900
11                           True Lies           271469
12                      Batman & Robin           261345
13                         Escape Plan           251013
14               Terminator: Dark Fate           186119
15                            Commando           168927
16                     The Running Man           159986
17                    Last Action Hero           158695
18                    Kindergarten Cop           157270
19                 Conan the Barbarian           156886
20                      The Last Stand           143060
21                         The 6th Day           125587
22                              Eraser           115652
23                         End of Days           114370
24          Terminator 2: Judgment Day          1131122

In [42]:
arnold_movies.head()

            Movie Name Gross Collection
0       The Terminator           891919
1  Conan the Destroyer            83276
2    Collateral Damage            76778
3             Red Heat            73814
4             Sabotage            65073

In [43]:
# 5) Display all details of movies with comedy and action genres.

In [49]:
# Filter action movies
action_movies = df1[df1['Genre1'].isin(['Action'])]

# Filter comedy movies
comedy_movies = df1[df1['Genre1'].isin(['Comedy'])]

# Combine both DataFrames
action_comedy_movies = pd.concat([action_movies, comedy_movies])

# Reset the index of the combined DataFrame
action_comedy_movies.reset_index(drop=True, inplace=True)

# Display the DataFrame
print(action_comedy_movies)

                                             Movie Name    Votes  \
0                                       The Dark Knight  2741284
1         The Lord of the Rings: The Return of the King  1899088
2                                             Inception  2432607
3     The Lord of the Rings: The Fellowship of the Ring  1927507
4                 The Lord of the Rings: The Two Towers  1713846
...                                                 ...      ...
1694                                              Radhe   179056
1695                                             Race 3    47814
1696                                  Angels Apocalypse    42919
1697                              The Cost of Deception    39600
1698                                            Sadak 2    96354

     Gross Collection Certification              Star1                 Star2  \
0             2741284           12A     Christian Bale          Heath Ledger
1             1899088           12A        Elijah Wood       Viggo Mortensen
2             2432607           12A  Leonardo DiCaprio  Joseph Gordon-Levitt
3             1927507            PG        Elijah Wood          Ian McKellen
4             1713846           12A        Elijah Wood          Ian McKellen
...               ...           ...                ...                   ...
1694           179056            15        Salman Khan          Disha Patani
1695            47814           12A        Anil Kapoor           Salman Khan
1696            42919           N/A      Enzo Zelocchi         Enzo Zelocchi
1697            39600           N/A  Vivianne Bánovits          András Mózes
1698            96354           15+         Alia Bhatt           Pooja Bhatt

                  Star3                 Star4  Genre1     Genre2    Genre3
0         Aaron Eckhart         Michael Caine  Action      Crime     Drama
1          Ian McKellen         Orlando Bloom  Action  Adventure     Drama
2           Elliot Page          Ken Watanabe  Action  Adventure    Sci-Fi
3         Orlando Bloom             Sean Bean  Action  Adventure     Drama
4       Viggo Mortensen         Orlando Bloom  Action  Adventure     Drama
...                 ...                   ...     ...        ...       ...
1694      Randeep Hooda         Jackie Shroff  Action      Crime  Thriller
1695         Bobby Deol  Jacqueline Fernandez  Action      Crime  Thriller
1696      Jana Rochelle     Ryan C.F. Buckley  Action    Fantasy    Sci-Fi
1697        Barna Bokor       Gabriella Gubás  Action      Crime     Drama
1698  Aditya Roy Kapoor           Sanjay Dutt  Action      Drama       N/A

[1699 rows x 11 columns]

In [50]:
action_comedy_movies.head()

,Movie Name,Votes,Gross Collection,Certification,Star1,Star2,Star3,Star4,Genre1,Genre2,Genre3
0,The Dark Knight,2741284,2741284,12A,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,1899088,1899088,12A,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,Inception,2432607,2432607,12A,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
3,The Lord of the Rings: The Fellowship of the Ring,1927507,1927507,PG,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama
4,The Lord of the Rings: The Two Towers,1713846,1713846,12A,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,Action,Adventure,Drama

**Make subquery**

In [63]:
df['Movie Name'] = df['Movie Name'].str.strip().str.lower()
df1['Movie Name'] = df1['Movie Name'].str.strip().str.lower()

# Merge both DataFrames on the 'Movie Name' column
merged_df = df.merge(df1, on='Movie Name', how='inner')

# Display the result
print(merged_df)

                                             Movie Name       Director Name  \
0                                       the dark knight   Christopher Nolan
1         the lord of the rings: the return of the king       Peter Jackson
2                   spider-man: across the spider-verse  Joaquim Dos Santos
3                                             inception   Christopher Nolan
4     the lord of the rings: the fellowship of the ring       Peter Jackson
...                                                 ...                 ...
1829                                              radhe         Prabhu Deva
1830                                             race 3        Remo D'Souza
1831                                  angels apocalypse           Sean Cain
1832                              the cost of deception       Keith English
1833                                            sadak 2        Mahesh Bhatt

      Duration  Year  Rating Metascore    Votes Gross Collection  \
0          152  2008     9.0        84  2741284          2741284
1          201  2003     9.0        94  1899088          1899088
2          140  2023     8.9        86   185778           185778
3          148  2010     8.8        74  2432607          2432607
4          178  2001     8.8        92  1927507          1927507
...        ...   ...     ...       ...      ...              ...
1829       113  2021     1.9       N/A   179056           179056
1830       160  2018     1.9       N/A    47814            47814
1831        85  2015     1.6       N/A    42919            42919
1832       125  2021     1.5       N/A    39600            39600
1833       133  2020     1.2       N/A    96354            96354

     Certification              Star1                 Star2  \
0              12A     Christian Bale          Heath Ledger
1              12A        Elijah Wood       Viggo Mortensen
2               PG        Kemp Powers    Justin K. Thompson
3              12A  Leonardo DiCaprio  Joseph Gordon-Levitt
4               PG        Elijah Wood          Ian McKellen
...            ...                ...                   ...
1829            15        Salman Khan          Disha Patani
1830           12A        Anil Kapoor           Salman Khan
1831           N/A      Enzo Zelocchi         Enzo Zelocchi
1832           N/A  Vivianne Bánovits          András Mózes
1833           15+         Alia Bhatt           Pooja Bhatt

                  Star3                 Star4     Genre1     Genre2     Genre3
0         Aaron Eckhart         Michael Caine     Action      Crime      Drama
1          Ian McKellen         Orlando Bloom     Action  Adventure      Drama
2         Shameik Moore      Hailee Steinfeld  Animation     Action  Adventure
3           Elliot Page          Ken Watanabe     Action  Adventure     Sci-Fi
4         Orlando Bloom             Sean Bean     Action  Adventure      Drama
...                 ...                   ...        ...        ...        ...
1829      Randeep Hooda         Jackie Shroff     Action      Crime   Thriller
1830         Bobby Deol  Jacqueline Fernandez     Action      Crime   Thriller
1831      Jana Rochelle     Ryan C.F. Buckley     Action    Fantasy     Sci-Fi
1832        Barna Bokor       Gabriella Gubás     Action      Crime      Drama
1833  Aditya Roy Kapoor           Sanjay Dutt     Action      Drama        N/A

[1834 rows x 16 columns]

In [64]:
merged_df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore,Votes,Gross Collection,Certification,Star1,Star2,Star3,Star4,Genre1,Genre2,Genre3
0,the dark knight,Christopher Nolan,152,2008,9.0,84,2741284,2741284,12A,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,the lord of the rings: the return of the king,Peter Jackson,201,2003,9.0,94,1899088,1899088,12A,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,spider-man: across the spider-verse,Joaquim Dos Santos,140,2023,8.9,86,185778,185778,PG,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Animation,Action,Adventure
3,inception,Christopher Nolan,148,2010,8.8,74,2432607,2432607,12A,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,the lord of the rings: the fellowship of the ring,Peter Jackson,178,2001,8.8,92,1927507,1927507,PG,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama

In [80]:
# Save the DataFrame to a CSV file
df1.to_csv('movie_data_merged_file.csv', index=False)

In [81]:
df1 = pd.read_csv('movie_data_merged_file.csv')

In [52]:
# 1) Display all details from both tables where movie names are the same.

In [53]:
# Merge the two DataFrames on the 'Movie Name' column
merged_df = pd.merge(df, df1, on='Movie Name', how='inner')

# Print the merged DataFrame
print(merged_df1)

                                             Movie Name       Director Name  \
0                                       The Dark Knight   Christopher Nolan
1         The Lord of the Rings: The Return of the King       Peter Jackson
2                   Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
3                                             Inception   Christopher Nolan
4     The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
...                                                 ...                 ...
1829                                              Radhe         Prabhu Deva
1830                                             Race 3        Remo D'Souza
1831                                  Angels Apocalypse           Sean Cain
1832                              The Cost of Deception       Keith English
1833                                            Sadak 2        Mahesh Bhatt

      Duration  Year  Rating Metascore    Votes Gross Collection  \
0          152  2008     9.0        84  2741284          2741284
1          201  2003     9.0        94  1899088          1899088
2          140  2023     8.9        86   185778           185778
3          148  2010     8.8        74  2432607          2432607
4          178  2001     8.8        92  1927507          1927507
...        ...   ...     ...       ...      ...              ...
1829       113  2021     1.9       N/A   179056           179056
1830       160  2018     1.9       N/A    47814            47814
1831        85  2015     1.6       N/A    42919            42919
1832       125  2021     1.5       N/A    39600            39600
1833       133  2020     1.2       N/A    96354            96354

     Certification              Star1                 Star2  \
0              12A     Christian Bale          Heath Ledger
1              12A        Elijah Wood       Viggo Mortensen
2               PG        Kemp Powers    Justin K. Thompson
3              12A  Leonardo DiCaprio  Joseph Gordon-Levitt
4               PG        Elijah Wood          Ian McKellen
...            ...                ...                   ...
1829            15        Salman Khan          Disha Patani
1830           12A        Anil Kapoor           Salman Khan
1831           N/A      Enzo Zelocchi         Enzo Zelocchi
1832           N/A  Vivianne Bánovits          András Mózes
1833           15+         Alia Bhatt           Pooja Bhatt

                  Star3                 Star4     Genre1     Genre2     Genre3
0         Aaron Eckhart         Michael Caine     Action      Crime      Drama
1          Ian McKellen         Orlando Bloom     Action  Adventure      Drama
2         Shameik Moore      Hailee Steinfeld  Animation     Action  Adventure
3           Elliot Page          Ken Watanabe     Action  Adventure     Sci-Fi
4         Orlando Bloom             Sean Bean     Action  Adventure      Drama
...                 ...                   ...        ...        ...        ...
1829      Randeep Hooda         Jackie Shroff     Action      Crime   Thriller
1830         Bobby Deol  Jacqueline Fernandez     Action      Crime   Thriller
1831      Jana Rochelle     Ryan C.F. Buckley     Action    Fantasy     Sci-Fi
1832        Barna Bokor       Gabriella Gubás     Action      Crime      Drama
1833  Aditya Roy Kapoor           Sanjay Dutt     Action      Drama        N/A

[1834 rows x 16 columns]

In [54]:
merged_df1.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore,Votes,Gross Collection,Certification,Star1,Star2,Star3,Star4,Genre1,Genre2,Genre3
0,The Dark Knight,Christopher Nolan,152,2008,9.0,84,2741284,2741284,12A,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,Peter Jackson,201,2003,9.0,94,1899088,1899088,12A,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140,2023,8.9,86,185778,185778,PG,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Animation,Action,Adventure
3,Inception,Christopher Nolan,148,2010,8.8,74,2432607,2432607,12A,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178,2001,8.8,92,1927507,1927507,PG,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama

In [55]:
# 2)   Display all movie names, Director, ratings, and gross collection where the genre is action.

In [67]:
merged_df = pd.merge(df, df1, on='Movie Name', how='left')

# Filter the DataFrame to include only rows where the genre is 'Action'
action_movies_df = merged_df[merged_df['Genre1'].str.contains('Action', case=False)]

# Select the desired columns
selected_columns = ['Movie Name', 'Director Name', 'Rating', 'Gross Collection']

# Display the result
print(action_movies_df[selected_columns])

                                             Movie Name      Director Name  \
0                                       the dark knight  Christopher Nolan
1         the lord of the rings: the return of the king      Peter Jackson
3                                             inception  Christopher Nolan
4     the lord of the rings: the fellowship of the ring      Peter Jackson
5                 the lord of the rings: the two towers      Peter Jackson
...                                                 ...                ...
1829                                              radhe        Prabhu Deva
1830                                             race 3       Remo D'Souza
1831                                  angels apocalypse          Sean Cain
1832                              the cost of deception      Keith English
1833                                            sadak 2       Mahesh Bhatt

      Rating Gross Collection
0        9.0          2741284
1        9.0          1899088
3        8.8          2432607
4        8.8          1927507
5        8.8          1713846
...      ...              ...
1829     1.9           179056
1830     1.9            47814
1831     1.6            42919
1832     1.5            39600
1833     1.2            96354

[1762 rows x 4 columns]

In [68]:
action_movies_df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore,Votes,Gross Collection,Certification,Star1,Star2,Star3,Star4,Genre1,Genre2,Genre3
0,the dark knight,Christopher Nolan,152,2008,9.0,84,2741284,2741284,12A,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,the lord of the rings: the return of the king,Peter Jackson,201,2003,9.0,94,1899088,1899088,12A,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
3,inception,Christopher Nolan,148,2010,8.8,74,2432607,2432607,12A,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,the lord of the rings: the fellowship of the ring,Peter Jackson,178,2001,8.8,92,1927507,1927507,PG,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama
5,the lord of the rings: the two towers,Peter Jackson,179,2002,8.8,87,1713846,1713846,12A,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,Action,Adventure,Drama

In [69]:
# 3) Display all details from both tables with the highest gross collection.

In [70]:
# Sort the DataFrame by 'Gross Collection' in descending order
merged_df_sorted = merged_df.sort_values(by='Gross Collection', ascending=False)

# Get the row with the highest gross collection
highest_gross_movie = merged_df_sorted.iloc[0]

# Display all details of the movie with the highest gross collection
print(highest_gross_movie)

Movie Name                    lockout
Director Name            James Mather
Duration                           95
Year                             2012
Rating                            6.0
Metascore                          48
Votes                           99917
Gross Collection                99917
Certification                      15
Star1               Steve Saint Leger
Star2                      Guy Pearce
Star3                    Maggie Grace
Star4                  Peter Stormare
Genre1                         Action
Genre2                         Sci-Fi
Genre3                       Thriller
Name: 1345, dtype: object

In [71]:
highest_gross_movie.head()

Movie Name            lockout
Director Name    James Mather
Duration                   95
Year                     2012
Rating                    6.0
Name: 1345, dtype: object

In [72]:
# 4) Display all details from both tables with the highest ratings

In [73]:
# Sort the DataFrame by 'Rating' in descending order
merged_df_sorted = merged_df.sort_values(by='Rating', ascending=False)

# Get the row with the highest rating
highest_rated_movie = merged_df_sorted.iloc[0]

# Display all details of the movie with the highest rating
print(highest_rated_movie)

Movie Name            the dark knight
Director Name       Christopher Nolan
Duration                          152
Year                             2008
Rating                            9.0
Metascore                          84
Votes                         2741284
Gross Collection              2741284
Certification                     12A
Star1                  Christian Bale
Star2                    Heath Ledger
Star3                   Aaron Eckhart
Star4                   Michael Caine
Genre1                         Action
Genre2                          Crime
Genre3                          Drama
Name: 0, dtype: object

In [74]:
highest_rated_movie.head()

Movie Name         the dark knight
Director Name    Christopher Nolan
Duration                       152
Year                          2008
Rating                         9.0
Name: 0, dtype: object

In [75]:
# 5) Display all details from both tables with the lowest gross collection and lowest ratings

In [76]:
# Sort the DataFrame by 'Gross Collection' and 'Rating' in ascending order
merged_df_sorted = merged_df.sort_values(by=['Gross Collection', 'Rating'])

# Get the row with the lowest gross collection and lowest rating
lowest_gross_lowest_rating_movie = merged_df_sorted.iloc[0]

# Display all details of the movie with the lowest gross collection and lowest rating
print(lowest_gross_lowest_rating_movie)

Movie Name                extraction ii
Director Name              Sam Hargrave
Duration                            122
Year                               2023
Rating                              7.1
Metascore                            57
Votes                            100209
Gross Collection                 100209
Certification                        15
Star1                   Chris Hemsworth
Star2               Golshifteh Farahani
Star3                        Adam Bessa
Star4               Tornike Gogrichiani
Genre1                           Action
Genre2                         Thriller
Genre3                              N/A
Name: 447, dtype: object

In [77]:
lowest_gross_lowest_rating_movie.head()

Movie Name       extraction ii
Director Name     Sam Hargrave
Duration                   122
Year                      2023
Rating                     7.1
Name: 447, dtype: object